@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/inter-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    src: url("/fonts/inter-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/inter-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
}

html {
  overflow-y: scroll;
  color-scheme: light;
  background: transparent;
  font-family: "Inter", sans-serif;
  position: relative;
  scroll-behavior: smooth;
}

html::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  /* background: radial-gradient(ellipse 80% 80% at 50% -20%,rgba(255,223,88,0.3),rgba(240,184,28,0.2),rgba(255,255,255,0)) */
  background: radial-gradient(ellipse 80% 80% at 50% -20%,rgba(255,215,0,0.5),rgba(240,169,30,0.35), rgba(255,255,255,0.1));
}

html.dark::before {
  background: radial-gradient(ellipse 80% 80% at 50% -20%,rgba(234,179,8,0.3),rgba(161,98,7,0.2),rgba(17,24,39,0))
}

html.dark {
  color-scheme: dark;
  background-color: black;
}

html,
body {
  @apply h-full w-full antialiased;
  @apply bg-transparent;
  @apply text-black/75 dark:text-white/75;
}

body {
  @apply flex flex-col;
}

main {
  @apply flex flex-col flex-1;
  @apply bg-transparent;
}

header {
  @apply border-b;
  @apply transition-all duration-300 ease-in-out;
}

header:not(.scrolled) {
  @apply bg-transparent border-transparent;
}

header.scrolled {
  @apply bg-white/75 dark:bg-black/50;
  @apply border-black/10 dark:border-white/25;
  @apply backdrop-blur-sm saturate-200;
}