---
import Container from "@components/Container.astro";
import { QUESTIONS } from "@consts";
---

<Container size="xl">
  <div class="w-full max-w-5xl px-2 mx-auto py-12 dark:bg-transparent dark:text-gray-200">
    <h3 class="mt-3 text-xl font-bold text-primary md:text-2xl dark:text-gray-100">Preguntas Frecuentes</h3>
    <div class="grid max-w-5xl mx-auto mt-6 divide-y divide-gray-200 dark:divide-gray-700">
      {
        QUESTIONS.map((question) => (
          <details class="group py-4">
            <summary class="flex items-center justify-between font-medium list-none cursor-pointer">
              <span>{question.question}</span>
              <span class="transition group-open:rotate-180">
                <svg class="w-6 h-6 stroke-gray-600 dark:stroke-gray-400">
                  <use href="/ui.svg#down-arrow" />
                </svg>
              </span>
            </summary>
            <p class="mt-3 text-gray-600 group-open:animate-fadeIn dark:text-gray-300">{question.answer}</p>
          </details>
        ))
      }
    </div>
  </div>
</Container>
