---
import { Image } from "astro:assets";
import Container from "./Container.astro";
import { cn } from "@lib/utils";
---

<footer>
  <section
    class="py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25"
  >
    <Container size="xl">
      <div class="flex items-center justify-between">
        <div class="flex gap-1 font-semibold">
          <a
            href="/"
            class="flex gap-1 sm:gap-3 text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out items-center"
          >
            <!-- <svg class="size-6 fill-current">
              <use href="/"></use>
            </svg> -->
            <Image
              src="/logo.png"
              alt="Logo Cantolao Chorrillos"
              width="40"
              height="40"
            />
            <div>
              <p>Cantolao</p>
              <p>Chorrillos</p>
            </div>
          </a>
        </div>

        <span
        class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2025 <a href="https://flowbite.com/" class="hover:underline"
          >Cantolao Chorrillos</a
        >. Todos los derechos reservados.</span
      >

        <div class="buttons flex gap-1">
          <a
            href="https://www.facebook.com/CantolaoChorrilloss/?locale=es_LA"
            target="_blank"
            aria-label="Facebook"
            rel="noopener noreferrer"
            class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend"
          >
            <svg class="size-full fill-current group-hover:fill-back group-hover:fill-black group-hover:dark:fill-white blend">
              <use href="/social.svg#facebook"></use>
            </svg>
          </a>

          <a
            href="https://www.facebook.com/CantolaoChorrilloss/?locale=es_LA"
            target="_blank"
            aria-label="Instagram"
            rel="noopener noreferrer"
            class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend"
          >
            <svg class="size-full fill-current group-hover:fill-back group-hover:fill-black group-hover:dark:fill-white blend">
              <use href="/social.svg#instagram"></use>
            </svg>
          </a>
        </div>
      </div>
    </Container>
  </section>
</footer>
