---
import { SOCIALS } from "@consts";
---

<nav 
  class="flex gap-1 order-2 sm:order-3"
  aria-label="Redes sociales"
>
  {
    SOCIALS.map((social) => (
      <a 
        href={social.href} 
        target="_blank" 
        aria-label={`${social.name} de ${social.text}`} 
        rel="noopener noreferrer" 
        class="group size-10 p-2 items-center justify-center rounded-full hover:bg-black/5 dark:hover:bg-white/20 transition-colors"
      >
        <svg 
          class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white transition-colors"
          aria-hidden="true"
        >
          <use href={`/social.svg#${social.icon}`}></use>
        </svg>
      </a>
    ))
  }
</nav>
